body
		{
			font-family: "Liberation Sans",Arial,Helvetica,FreeSans,sans-serif;
			background-color: #E6EFF4;
			margin: 20px;
		}
		
		table.wikitable
		{
			background-color: #f8f9fa;
			color: #222;
			margin: 1em 0;
			border: 1px solid #a2a9b1;
			border-collapse: collapse;
			border-spacing: 2px;
		}
		
		table.wikitable > tr > th,
		table.wikitable > * > tr > th
		{
			background-color: #eaecf0;
			text-align: center;
		}
		
		table.wikitable > tr > th,
		table.wikitable > tr > td,
		table.wikitable > * > tr > th,
		table.wikitable > * > tr > td
		{
			border: 1px solid #a2a9b1;
			padding: 0.2em 0.4em;
		}
		
		p
		{
			line-height: inherit;
			margin: 0.5em 0;
		}
		
		code
		{
			color: #000;
			background-color: #f8f9fa;
			border: 1px solid #eaecf0;
			border-radius: 2px;
			padding: 1px 4px;
			font-family: monospace,monospace;
		}
